/*body {
    background-color: #fb9;
    color: #aaa;
    font-size: 40px;
}*/

:root {
    --title-letter-width: 40px;
    --title-letter-height: 60px;
}

h1 {
    display: flex;
    text-align: center;
    transition: transform .3s ease-in-out;
}

h1:hover {
    transform: rotateX(35deg), translateY(-50%);
}

h1:hover span {
    color: #ccc;
}

h1:hover span:nth-child(odd) {
    transform: skewY(15deg);
}

h1:hover span:nth-child(even) {
    transform: skewY(-15deg);
    background-color: #f9f9f9;
    color: #a6a6a6;
}

h1>span {
    display: block;
    background-color: #fff;
    width: var(--title-letter-width);
    height: var(--title-letter-height);
    line-height: var(--title-letter-height);
    transition: transform .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out;
    box-shadow: 0 40px 50px rgba(0, 0, 0, 0.1);
}

h1>span:first-child {
    border-radius: 20px 0 0 20px;
}

h1>span:last-child {
    border-radius: 0 20px 20px 0;
}